name: Test Action

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test install action
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - 
        name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - 
        name: Run install-all action
        id: test-action
        uses: ./

      - name: Verify that tools are installed
        # TODO: check version
        run: |
          gotestsum --help
          go-junit-report --help
          go-ctrf-json-report --help
